:root {
    --color-white: rgb(233, 233, 233);
    --color-darkBlue: rgb(2, 19, 35);
    --color-black1: rgb(14, 14, 14);
    --color-black2: rgb(41, 41, 41);
    --color-grey: rgb(175, 175, 175);
    --color-lightblue: rgb(76, 162, 244);
    --color-lightpink: rgb(248, 78, 146);

    --color-darkBlueTrans: rgb(2, 19, 35, 0.5);
    --color-black1Trans: rgb(14, 14, 14, 0.5);
    --color-black2Trans: rgb(41, 41, 41, 0.5);
    --color-greyTrans: rgba(175, 175, 175, 0.5);
    --color-lightblueTrans: rgb(76, 162, 244, 0.5);
    --color-lightpinkTrans: rgb(248, 78, 146, 0.5);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

body {
    /* background-color: var(--color-black1); */
    background-image: url("./imagems/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
}

header::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 0;
}


/* Name */
#divName {
    display: flex;
    align-items: center;
    text-align: center;
    height: max-content;
    padding-bottom: 2em;
    padding-top: 2em;
}

#divName h1 {
    padding: 20px;
    color: var(--color-lightblue);
    transition: 1s;
}

#divName h1:hover {
    color: var(--color-lightpink);
}

.iconSocial {
    align-items: center;
    width: 30px;
    padding: 0 10px;
}

#myselfImage {
    width: 100px;
    height: 150px;
    border-radius: 30px;
}

/* section */
.mainContainer {
    margin-top: 5.1em;
    width: 100%;
    transition: 1s;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

}

.mainContainer section {
    height: max-content;
    color: var(--color-white);
    padding: 25px;
    width: 700px;

}

.mainContainer #about p,
#home p,
#projects p {
    padding: 10px;
}

.mainContainer #about h1,
#home h1,
#projects h1 {
    font-size: medium;
    padding: 10px 0;
    color: var(--color-lightblue);
}

/* section */
/* home */
.mainContainer #home {
    background-color: var(--color-black2Trans);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: space-evenly;
}
.mainContainer .skill {
    text-align: center;
    height: fit-content;
    width: 350px;
}
/* section */
/* about */
.mainContainer #about {
    background-color: var(--color-black1Trans);
}

/* section */
/* projects */
.mainContainer #projects {
    background-color: var(--color-black2Trans);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}
.projects_section .listProjects{
    display: flex;
    justify-content: space-around;
}
.listProjects a{
    text-decoration: none;
    color:  var(--color-white);
    transition: .8s;
    
    margin: 10px;
}
.listProjects a:hover{
    color:  var(--color-lightpink);
}

/* Footer */
footer {
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--color-darkBlue);
}

@media screen and (max-width: 750px) {
    * {
        font-family: 'Pixel Emulator', sans-serif;
    }

    body {
        background-image: url("./imagems/backSmall.jpg");
    }

    #divName {
        display: flex;
        flex-direction: column;
    }

    #divName h1,
    #myselfImage,
    .subtitle,
    #first {
        margin-left: 0;
        margin-right: 0;
    }

    .mainContainer section {
        width: fit-content;
        padding: 15px;
    }
}