:root {
    --color-white: #fff;
    --color-black1: rgb(14, 14, 14);
    --color-black2: rgb(41, 41, 41);
    --color-lightblue: rgb(200, 235, 255);
    --color-lightpink: rgb(253, 200, 255);
    --color-white: rgb(14, 14, 14);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: var(--color-black1);
}

#logo_CJ {
    width: 80px;
    margin-left: 1%;
}

.header,
.nagivation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--color-black2);
    box-shadow: 1px 1px 4px --color-lightblue;
    height: 6.5em;
    justify-content: space-between;
}

.nagivation_header {
    padding: 0 10%;
    gap: 5em;
}

.nagivation_header a {
    font-size: large;
    text-decoration: none;
    color: var(--color-lightblue);
    transition: .6s;
}

.nagivation_header :hover {
    color: var(--color-lightpink);
}

.actived {
    background-color: var(--color-black1);
    color: var(--color-lightpink);
    padding: 0.5rem;
    border-radius: 20%;
}

.mainContainer {
    width: 100%;
    text-align: center;
    padding-top: 5em;
    transition: 1s;
}

#divName {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: min-content;
}

#divName h1 {
    padding: 20px;
    color: var(--color-lightblue);
    transition: 1s;
}

#divName h1:hover {
    color: var(--color-lightpink);
}

.bnt_icon_header {
    margin: 0;
    padding: 0;
    /* display: none; */
}

#menuImg,
#closemenuImg {
    transition: .5s;
    background-color: var(--color-lightblue);
    height: 35px;
    cursor: pointer;
}

#menuImg:hover {
    background-color: var(--color-lightpink);
}

#closemenuImg {
    background-color: transparent;
}