:root {
    --color-white: rgb(233, 233, 233);
    --color-grey: rgb(175, 175, 175);
    --color-shineblue: rgb(77, 255, 255);
    --color-lightpinkTrans: rgb(248, 78, 146, 0.75);
}

.skill h1 {
    font-size: 40px;
    margin: 0;
}

.home_section img {
    height: 50px;
    padding: 5px;
}

.singleSkill {
    position: relative;
    display: -webkit-flex;
    display: -moz-fex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    margin-bottom: 2rem;
}

.topic {
    font-size: 500;
    text-transform: uppercase;
}

.bar, .shadwon_bar {
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: var(--color-lightpinkTrans);
    transition: .4s;
}
.shadwon_bar{
    background-color: var(--color-grey);
    width: 100%;
}
.bar:hover {
    cursor: pointer;
    background-color: var(--color-shineblue);
}

.bar-1 {
    width: 75%;
}

.bar-2 {
    width: 60%;
}

.bar-3 {
    width: 90%;
}

.bar-4 {
    width: 75%;
}

.bar-5 {
    width: 75%;
}

.bar-6 {
    width: 100%;
}

.bar-7 {
    width: 90%;
}

.bar-8 {
    width: 50%;
}

.bar-9 {
    width: 10%;
}

@media screen and (max-width: 750px) {
    .mainContainer .home_section {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .home_section img {
        height: 25px;
        /* display: none; */
    }
}