:root {
    --color-white: #fff;
    --color-black1: rgb(14, 14, 14);
    --color-black2: rgb(41, 41, 41);
    --color-lightblue: rgb(200, 235, 255);
    --color-lightpink: rgb(253, 200, 255);
    --color-white: rgb(14, 14, 14);
}

header::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 0;
}

.mainContainer {
    display: block;
    background-color: --color-black1;
    width: 100%;
    padding-top: 2em;
    transition: 1s;

}

.mainContainer section {
    width: 100%;
    height: max-content;
    color: white;
}
.mainContainer #home{
    background-color: var(--color-black2);
}
.mainContainer #about{
    background-color: var(--color-black1);
}
.mainContainer #projects{
    background-color: var(--color-black2);
}

/* Name */
#divName {
    display: flex;
    align-items: center;
    text-align: center;
    height: max-content;
}

#divName h1 {
    padding: 20px;
    color: var(--color-lightblue);
    transition: 1s;
}

#divName h1:hover {
    color: var(--color-lightpink);
}

#first {
    margin-left: 20%;
}

.iconSocial{
    width: 30px;
    padding: 10px;
}
#myselfImage {
    margin-left: 180px;
    width: 100px;
    height: 150px;
    border-radius: 30px;
}
footer{
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

@media screen and (max-width: 650px) {

    #divName {
        display: block;
    }

    #divName h1,
    #myselfImage,
    #first {
        margin-left: 0;
        margin-right: 0;
    }
}