:root {
    --color-white: #fff;
    --color-black1: rgb(14, 14, 14);
    --color-black2: rgb(41, 41, 41);
    --color-grey: rgb(100, 100, 100);
    --color-lightblue: rgb(200, 235, 255);
    --color-lightpink: rgb(253, 200, 255);

    --color-black1Trans: rgb(14, 14, 14, 0.5);
    --color-black2Trans: rgb(41, 41, 41, 0.5);
    --color-greyTrans: rgb(100, 100, 100, 0.5);
    --color-lightblueTrans: rgb(200, 235, 255, 0.5);
    --color-lightpinkTrans: rgb(253, 200, 255, 0.5);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

body {
    /* background-color: var(--color-black1); */
    background-image: url("/imagems/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
}

header::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 0;
}

.mainContainer {
    width: 100%;
    transition: 1s;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

}

.mainContainer section {
    height: max-content;
    color: white;
    padding: 25px;
    padding-left: 100px;
    width: 750px;

}

/* Name */
#divName {

    display: flex;
    align-items: center;
    text-align: center;
    height: max-content;
    padding-bottom: 2em;
    padding-top: 2em;
}

#divName h1 {
    padding: 20px;
    color: var(--color-lightblue);
    transition: 1s;
}

#divName h1:hover {
    color: var(--color-lightpink);
}

.iconSocial {
    width: 30px;
    padding: 10px;
}

#myselfImage {
    margin-left: 180px;
    width: 100px;
    height: 150px;
    border-radius: 30px;
}

/* section */

.mainContainer #about p,
#home p,
#projects p {
    padding: 10px;
}

/* section */
/* home */
.mainContainer #home {
    background-color: var(--color-black2Trans);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* section */
/* about */
.mainContainer #about {
    background-color: var(--color-black1Trans);
}

/* section */
/* projects */
.mainContainer #projects {
    background-color: var(--color-black2Trans);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* Footer */
footer {
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--color-black1);
    margin-bottom: 0;
}

@media screen and (max-width: 650px) {

    #divName {
        display: block;
    }

    #divName h1,
    #myselfImage,
    .subtitle,
    #first {
        margin-left: 0;
        margin-right: 0;
    }

    .mainContainer #about {
        padding: 10px;
    }
}