:root {
    --color-white: #fff;
    --color-black1: rgb(14, 14, 14);
    --color-black2: rgb(41, 41, 41);
    --color-grey: rgb(100, 100, 100);
    --color-lightblue: rgb(200, 235, 255);
    --color-lightpink: rgb(253, 200, 255);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: var(--color-black1);
}

#logo_CJ {
    width: 60px;
    margin-left: 1%;
}

.header,
.nagivation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--color-black2);
    box-shadow: 1px 1px 4px --color-lightblue;
    height: 5.1em;
    justify-content: space-between;
    width: 100%;
}

.nagivation_header {
    padding: 0 10%;
    gap: 5em;
    z-index: 2;
}

.nagivation_header a {
    font-size: 15px;
    text-decoration: none;
    color: var(--color-lightblue);
    transition: .6s;
}

.nagivation_header :hover {
    color: var(--color-lightpink);
}

.actived {
    background-color: var(--color-black1);
    color: var(--color-lightpink);
    padding: 0.5rem;
    border-radius: 20%;
}



.bnt_icon_header {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: none;
}

#menuImg,
#closemenuImg {
    transition: .5s;
    background-color: #fff;
    height: 25px;
    cursor: pointer;
}

#closemenuImg {
    background-color: transparent;
}

@media screen and (max-width: 770px) {
    .bnt_icon_header {
        display: block;
    }

    #logo_CJ {
        margin-right: 10%;
    }

    #menuImg {
        margin-left: 20%;
    }

    .nagivation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-black2);
        height: 100%;
        width: 15vw;
        padding: 1em;
        animation: 0.8s;
        margin-left: -100vw;
    }
}

@keyframes showSideBar {
    from {
        margin-left: -100vw;
    }

    top {
        margin-left: 0vw;
    }
}