:root {
    --color-white: rgb(233, 233, 233);
    --color-darkBlue: rgb(2, 19, 35);
    --color-black1: rgb(14, 14, 14);
    --color-black2: rgb(41, 41, 41);
    --color-grey: rgb(175, 175, 175);
    --color-lightblue: rgb(76, 162, 244);
    --color-lightpink: rgb(248, 78, 146);

    --color-whiteTrans: rgb(233, 233, 233, 0.5);
    --color-darkBlueTrans: rgb(2, 19, 35, 0.5);
    --color-black1Trans: rgb(14, 14, 14, 0.5);
    --color-black2Trans: rgb(41, 41, 41, 0.5);
    --color-greyTrans: rgba(175, 175, 175, 0.5);
    --color-lightblueTrans: rgb(76, 162, 244, 0.5);
    --color-lightpinkTrans: rgb(248, 78, 146, 0.5);
}

body {
    margin: 0;
    background-image: url("./imagems/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
    padding: 2em;
    color: var(--color-white);
}

.body::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}

* {
    margin: 0;
    padding: 0;
}

.mainDivTL {
    position: relative;
    top: 5.1em;
}

.mainDivTL h1 {
    margin: 0.3em;
    font-size: 3em;

}

.mainDivTL h2 {
    margin-bottom: 0.5em;
}

.mainDivTL .title {
    text-align: center;
}

.mainDivTL .title p {
    font-size: 1.3em;
    letter-spacing: 2px;
}

.mainDivTL .timeline {
    margin: 5em auto;
    max-width: 34.14em;
}

.mainDivTL .checkPoint {
    max-width: 34em;
    padding: 2em 0;
    position: relative;
}

.checkPoint div {
    border: 2px solid var(--color-lightblueTrans);
    box-shadow: 0px 4px 7px var(--color-lightblueTrans);
    border-radius: 1.2em;
    padding: 1.5em;
    transition: 0.3s;
}

.checkPoint div:hover {
    border: 2px solid var(--color-lightpinkTrans);
    box-shadow: 0px 4px 7px var(--color-lightpinkTrans);
}

.checkPoint p {
    line-height: 27px;

}

.checkPoint:nth-child(odd) {
    border-left: 3px solid var(--color-whiteTrans);
    padding-left: 3em;
    transform: translateX(17em);
}

.checkPoint:nth-child(even) {
    border-right: 3px solid var(--color-whiteTrans);
    padding-right: 3em;
    transform: translateX(-17em);
}

.checkPoint:nth-child(odd)::before,
.checkPoint:nth-child(even)::before {
    content: '';
    background-color: var(--color-whiteTrans);
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkPoint:nth-child(odd)::before {
    left: 0;
}

.checkPoint:nth-child(even)::before {
    right: 0;
}

.checkPoint:nth-child(odd) div::before,
.checkPoint:nth-child(even) div::before {
    content: '';
    background-color: var(--color-white);
    box-shadow: 0 0 0.5em var(--color-lightblueTrans);
    width: .8em;
    height: .8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.checkPoint:nth-child(odd) div::before {
    left: -0.5em;
}

.checkPoint:nth-child(even) div::before {
    right: -0.5em;
}